/* Close to nothing here should apply if an object has class ignore-master-css. Also, styling should ideally only apply to children of .megaContainerStyling */

@import url(7_scrollbar.css);  /* This only applies to elements with .has-scrollbar. */

/* LAYOUT */
:root {
    --childPageWidth: 50em;
    --projectListingGradient: linear-gradient(to bottom, #454545, #3a3a3a);
}



#bannerContainer {
    margin-inline: auto;
    width: var(--childPageWidth);
    margin-top: 2em;
}


#megaContainer {
    margin-inline: auto;
    display: grid;
    grid-template-columns: auto var(--childPageWidth) auto;
    width: 70em;
    border-radius: 12pt;
    grid-template-areas: 
    "leftSide" "childPage" "rightSide"
    ;
}


#leftSide {
    z-index: -1;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 5pt;

    height: min-content;
}

#rightSide {
    z-index: -1;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 5pt;
    
    height: min-content;

    opacity: 0;
}

#childPage {
    z-index: 0;
}



/* ACTUAL STYLING */

.bigContainerStyling {
    color: #ffffff;
    font-family: Segoe UI, SegoeUI, Noto Sans, sans-serif;
    font-size: 9pt;
    overflow-wrap: break-word;
    overflow-y: visible;
    margin: 0px;
    padding: 1em;
    
    background: linear-gradient(to bottom, #3a3a3a, #313131);
    border: 2px solid #232323;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #5B5B5B,
    0px 0px 12px 3px rgba(0, 0, 0, .2);
}

h1:not(.ignore-master-css) {
    font-size: 5rem;
    margin: 0px;
}
h2:not(.ignore-master-css) {
    font-size: 2.5rem;
    margin: 0px;

}
h3:not(.ignore-master-css) {
    font-size: 2rem;
    margin: 0px;

}
h4:not(.ignore-master-css) {
    font-size: 1.5rem;
    margin: 0px;

}
u:not(.ignore-master-css) {
    border-bottom: .5px solid #b9b9b9;
    text-decoration: none;
}
code:not(.ignore-master-css), code *:not(.ignore-master-css) {
    font-family: monospace;
}

p:not(.ignore-master-css) {
    /* padding-inline: 1rem; */
    
    margin-top: 0px;
    margin-bottom: 0px;

    padding-bottom: 0px;
    padding-top: 0px;
}

hr:not(.ignore-master-css) {
    border: 0px;
    max-width: 90%;
    min-width: 10px;
    height: 1px;
    margin-inline: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(to right, #FFFFFF00, #FFFFFFDf, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFFDf, #FFFFFF00); /* You may notice that there are a copious amount of gradient stops - It sucks, but it works and that's all I ask of it.*/
} 
/* Funny story: I had these exact properties in div:not(.ignore-master-css).horizontalPageSeparator, but gave up and used a standard hr. GitHub Copilot noticed this and the suggestion it gave was to copy and paste all of my code, which was **exactly what I was going to do.** How many people have tried what I did and gave up?? */






/* Button Code. Lots of stuff, of course. */
button:not(.ignore-master-css) {
    background: linear-gradient(to bottom, #454545, #3a3a3a);
    border: 1px solid #232323;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #5B5B5B;
    color: #ffffff;
    font: 9pt "Segoe UI", "SegoeUI", "Noto Sans", sans-serif;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    position: relative;
    text-align: center;
    /* GitHub Copilot recommended me 90% of this and I was curious so I gave it a chance and, *wow*. It did well! */
}
button:hover:not(.ignore-master-css):not(:disabled):not(:active) {
    border-color: #9ED868;
    box-shadow: inset 0 0 0 1px #7dad50;
    background: linear-gradient(to bottom, #4b4e48, #434a3d);

    /* GitHub Copilot did that. It did well!*/
}
button:disabled:not(.ignore-master-css) {
    background: #f4f4f4;
    box-shadow: inset 0 0 0 0px;
    border-color: #b4b4b4;
    border-width: 2px;
    color: #838383;
}
button:active:not(.ignore-master-css) {
    border: 1px solid #9ED868;
    box-shadow: inset 0 0 0 1px #7dad50;
    background: linear-gradient(to bottom, #5f6f50, #555d4d);
}





:not(.ignore-master-css).searchBar {
    font-family: Segoe UI, SegoeUI, Noto Sans, sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, #363636, #313131);
    border: 1px solid #232323;
    border-radius: 4px;
    padding: .4rem;
    box-shadow: inset 0 0 0 1px #5B5B5B;

} :not(.ignore-master-css).searchBar::placeholder {
    color:#a9a9a9;
}


:not(.ignore-master-css)#projectListingContainer {
    margin-top: 10pt;
    margin-bottom: 10pt;
    margin-inline: auto;
    width: 60em;
}




:not(.ignore-master-css).projectListing {
    font-size: 9pt;
    width: 17em;
    box-shadow: 0px 0px 18px 0px #000000;
    display: inline-block;
    margin: 12pt;
}

:not(.ignore-master-css).projectListing p {
    margin: 0;
    padding: 0;
}
:not(.ignore-master-css).projectListing .projectTitle {
    font-size: 12pt;
    background: var(--projectListingGradient);
    border: 1px solid #232323;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 0 0 1px #5B5B5B;

    padding: .1rem;
    padding-inline: .4rem;
    margin: 0;
}
:not(.ignore-master-css).projectListing .projectBanner {
    box-shadow: inset -1px 0px 0px 1px #0000005a, 
    inset 1px 0px 0px 1px #0000005a;
    background-size: cover;
    height: 3.1rem;
    margin: 0;

    background-image: url("./assets/banners/template.png");
}
:not(.ignore-master-css).projectListing .projectDescription {
    background: var(--projectListingGradient);
    border: 1px solid #232323;
    box-shadow: inset 0 0 0 1px #5B5B5B;
    height: 3rem;

    padding: .1rem;
    padding-inline: .4rem;
    margin: 0;
}
:not(.ignore-master-css).projectListing .projectDate {
    background: var(--projectListingGradient);
    border: 1px solid #232323;
    border-radius: 0 0 4px 4px;
    box-shadow: inset 0 0 0 1px #5B5B5B;

    text-align: right;
    padding: .1rem;
    padding-inline: .4rem;
    margin: 0;
}


/* 
Reference colors, courtesy of PrismLauncher. I based the theming of this place off PrismLauncher so thanks, lads!

Disabled text color: 434a3d (without button border), icon greyed out 
Some buttons only show the border when you hover; they use the hover palette. Dropdowns look similar to buttons on 7.css so they SHOULD look similar too. Sadly they use a separate palette so you know what you gotta do. 
Buttom color palette (base): 232323 outer border, 5B5B5B inner border, 454545 gradient top, 3A3A3A gradient bottom
Buttom color palette (while being clicked via mouse): 232323 outer border, 4e4e4e inner border, insides are all 363636
Buttom color palette (hover over via tabs): Outer border 9ED868, middle border 515151, inner border 3a3a3a, inner inner border gradient top 5F6F50, inner inner border gradient bottom 566846, inner gradient top 565953, inner gradient bottom 484f42
Buttom color palette (clicked by enter): outer border 9ed868, inner border 4e4e4e, middle border 363636, inner inner border gradient top 566647, inner inner border gradient top 536542, inner gradient top 4b4e68, inner gradient bottom 434a3d
Inset Box: Border shine/outer outline #404040, border surface 313131, inset box border 262626, inset box surface (content's bg) 222222
*/