@import url(7_scrollbar.css); /* This only applies to elements with .has-scrollbar. */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans+Caption:wght@400;700&display=swap');

:root {
    font-size: 12pt;
}

body {
    margin: 0;
    padding: 0;
}

#contentContainer {
    color: #ffffff;
    background-color: #000000e2;

    width: 40em;
    max-width: 40em;
    min-width: 40em;
    margin-inline: auto;
}





#homepageContainer {
    padding: .5em;
}



#titlePiece {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}


.bigText {
    font-family: 'Inter', 'Arial';
    font-weight: Regular;
    font-size: 12pt;
    margin-inline: auto;
    color: #ffffff;
}


.baseText {
    font-family: 'PT Sans Caption', 'Arial';
    font-weight: 100;
    font-size: 12pt;
    margin-inline: auto;
    color: #ffffff;
} .baseText hr {
    border: 0px;
    max-width: 94%;
    min-width: 10px;
    height: 2px;
    margin-inline: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, #FFFFFF00, #FFFFFFDf, #FFFFFF 5%,#FFFFFF 95%, #FFFFFFDf, #FFFFFF00);
} .baseText h1 {
    font-family: 'Inter';
    font-size: 1.6em;
} .baseText h2 {
    font-family: 'Inter';
    font-size: 1.4em;
} .baseText h3 {
    font-family: 'Inter';
    font-size: 1.3em;
} .baseText h4 {
    font-family: 'Inter';
    font-size: 1.2em;
} .baseText h5 {
    font-family: 'Inter';
    font-size: 1.1em;
}